- var pageTitle = 'Grammatical'

include presentation-header

include menu

article#presentation


	section
		h1 <marquee><b>GRAMMATICAL</b></marquee>

	section
		h2 Nama Anggota : 
		ul
			li Frenky Salim - 131110038 
			li Dedy Suhendra - 131110275
			li Jimmy Yappeter - 131110461 
			li Boby Hartanto - 131111360

	section
		h2 Tujuan Presentasi
		ul
			li 1. untuk membantu pemahaman kembali tentang tenses.
			li 2. Agar dapat menggunakan preposition dengan benar.

	section
		h2 Materi Presentasi
		ul
			li 1. Tenses 
			li 2. Grammatical Construction(Comparison)
			li 3. Question Tags
			li 4. Prepositions


		
include presentation-footer
include main-footer
