- var pageTitle = 'Tenses Part I'

include presentation-header

include menu

article#presentation
	section
		h1 <b>Tenses(Part I)</b>
		section
		h2.bullet Pada Tenses(Part I) Terdiri atas :
		hr
		ol
			li Simple Present Tense
			li Present Continuous Tense
			li Present Perfect Tense
			li Present Perfect Continuous Tense
	section
		h1 <b>1. Simple Present Tense</b>
	section
		h2  Simple Present Tense
		h3	Deskripsi :
		p.
			<em><b>Simple present tense</b></em> untuk menyatakan fakta,kebiasaan,dan keejadian yang terjadi pada saat ini sekarang.

	section
		h2  Simple Present Tense
		h3	Rumus :
		pre.
				S + V1 + O
	section
		h2  Simple Present Tense
		h3	Contoh :
		ol
			ul He <b>runs</b> to school everyday.
			ul Dia berlari ke sekolah setiap hari.


	section
		h1 <b>2. Present Continuous Tense</b>
	section
		h2  Present Continuous Tense
		h3	Deskripsi :
		p.
			<em><b>Present Continuous Tense</b></em> untuk membicarakan aksi yang sedang berlangsung sekarang atau rencana di masa depan .

	section
		h2  Present Continuous Tense
		h3	Rumus :
		pre.
				S + is/am/are + V-ing + O
	section
		h2  Present Continuous Tense
		h3	Contoh :
		ol
			ul I <b>am driving</b> a car to Bandung now.
			ul Saya sedang mengendarai mobil ke Bandung sekarang.

	section
		h1 <b>3. Present Perfect Tense</b>
	section
		h2  Present Perfect Tense
		h3	Deskripsi :
		p.
			<em><b>Present Perfect Tense</b></em> mengungkapkan suatu aktivitas atau situasi yang telah dimulai di masa lalu dan telah selesai pada suatu titik waktu tertentu di masa lalu atau masih berlanjut sampai sekarang.

	section
		h2  Present Perfect Tense
		h3	Rumus :
		pre.
				S + have/has + V-3 + O
	section
		h2  Present Perfect Tense
		h3	Contoh :
		ol
			ul I <b>have eaten</b> the hamburger.
			ul Saya telah memakan hamburger.
			ul Deni <b>has played</b> the game.
			ul Deni telah bermain game tersebut.

	section
		h1 <b>4. Present Perfect Continuous Tense</b>
	section
		h2  Present Perfect Continuous Tense
		h3	Deskripsi :
		p.
			<em><b>Present Perfect Continuous Tense</b></em>untuk mengungkapkan aksi yang telah selesai pada suatu titik dimasa lampau atau aksi telah dimulai di masa lalu dan terus berlanjut sampai sekarang. Biasanya aksi tersebut ada durasi waktu tertentu dan ada relevansinya dengan kondisi sekarang.

	section
		h2  Present Perfect Continuous Tense
		h3	Rumus :
		pre.
				S + have/has + been + V-ing + O
	section
		h2  Present Perfect Continuous Tense
		h3	Contoh :
		ol
			ul The toddler <b>has been playing</b> a ball for an hour.
    			ul Balita itu telah sedang bermain bola selama satu jam.
    			ul The construction labors are thirsty since they <b>have been removing</b> the scaffoldings.
    		        ul Pekerja konstruksi haus karena mereka telah sedang memindahkan perancah.
			


	
include presentation-footer
include main-footer