- var pageTitle = 'Tenses Part I'

include presentation-header

include menu

article#presentation
	section
		h1 <b>Tenses(Part II)</b>
		section
		h2.bullet Pada Tenses(Part II) Terdiri atas :
		hr
		ol
			li Simple Present Tense
			li Present Continuous Tense
			li Present Perfect Tense
			li Present Perfect Continuous Tense
	section
		h1 <b>1. Simple Present Tense</b>
	section
		h2  Simple Present Tense
		h3	Deskripsi :
		p.
			<em><b>Simple present tense</b></em> untuk menyatakan fakta,kebiasaan,dan keejadian yang terjadi pada saat ini sekarang.

	section
		h2  Simple Present Tense
		h3	Rumus :
		pre.
				S + V1 + O
	section
		h2  Simple Present Tense
		h3	Contoh :
		ol
			ul He <b>runs</b> to school everyday.
			ul Dia berlari ke sekolah setiap hari.


	section
		h1 <b>2. Present Continuous Tense</b>
	section
		h2  Present Continuous Tense
		h3	Deskripsi :
		p.
			<em><b>Present Continuous Tense</b></em> untuk membicarakan aksi yang sedang berlangsung sekarang atau rencana di masa depan .

	section
		h2  Present Continuous Tense
		h3	Rumus :
		pre.
				S + is/am/are + V-ing + O
	section
		h2  Present Continuous Tense
		h3	Contoh :
		ol
			ul I <b>am driving</b> a car to Bandung now.
			ul Saya sedang mengendarai mobil ke Bandung sekarang.


	
include presentation-footer
include main-footer