- var pageTitle = 'Tenses (Part II)'

include presentation-header

include menu

article#presentation


	section
		h1 <b>Tenses(Part II)</b>

	section
		h2.bullet Pada Tenses(Part II) Terdiri atas :
		hr
		ol
			li Simple Past Tense
			li Past Continuous Tense
			li Past Perfect Tense 
			li Past Perfect Continuous Tense

	section
		h1 <b>1. Simple Past Tense</b>

	section
		h2 Simple Past Tense
		h3 Deskripsi :
		p. <em><b>Simple past tense</b></em> digunakan untuk menunjukkan bahwa sebuah kejadian terjadi di masa lampau.

	section
		h2 Simple Past Tense
		h3 	Rumus :
		pre. S + V2 + O

	section
		h2 Simple Past Tense
		h3 Contoh :
		ol
			ul I <b>swept</b> the floor 30 minutes ago.
			ul Saya menyapu lantai 30 menit yang lalu.
	section
		h1 <b>2. Past Continuous Tense</b>

	section
		h2 Past Continuous Tense
		h3 Deskripsi :
		p <em><b>Past Continuous Tense</em></b> digunakan untuk menunjukkan bahwa sebuah kegiatan sedang terjadi pada waktu tertentu di masa lampau.
	
	section
		h2 Past Continuous Tense
		h3 Rumus :
		pre. S + Was/Were + Present Participle/V-ing
		
	section
		h2 Past Continuous Tense
		h3 Contoh :
		ol
			ul I <b>was washing</b> the cloth then he broke that mirror.
			ul Saya sedang mencuci baju ketika dia memecahkan cermin itu.
include presentation-footer
include main-footer
