- var pageTitle = 'Tenses(Part IV)'

include presentation-header

include menu

article#presentation


	section
		h1 <b>Tenses(Part IV)</b>
	section
		h2.bullet Pada Tenses(Part IV) Terdiri atas :
		hr
		ol
			li Simple Past Future Tense
			li Past Future Continuous Tense
			li Past Future Perfect Tense 
			li Past Future Perfect Continuous Tense
	section
		h1 <b>1. Simple Past Future Tense</b>
	section
		h2  Simple Past Future Tense
		h3	Deskripsi :
		p.
			<em><b>Simple past future tense</b></em> untuk menyatakan suatu aksi yang akan dilakukan,
			membuat prediksi, dan membuat janji di masa depan pada saat berada dimasa lalu.

	section
		h2  Simple Past Future Tense
		h3	Rumus :
		pre.
				S + would + V1/Infinitive + O
	section
		h2  Simple Past Future Tense
		h3	Contoh :
		ol
			ul He would forgive you.
			
	section
		h1 <b>2. Past Future Continuous Tense</b>
	section
		h2  Past Future Continuous Tense
		h3	Deskripsi :
		p.
			<em><b>Past future continuous tense</b></em> untuk membicarakan suatu aksi yang akan sedang berlangsung 
			(berupa prediksi/rencana) di masa depan pada saat berada dimasa lalu.
	section
		h2  Past Future Continuous Tense
		h3	Rumus :
		pre.
				S + would + be + V(ing) + O
	section
		h2  Past Future Continuous Tense
		h3	Contoh :
		ol
			ul She would be working at nine o'clock this morning.			
				
	section
		h1 <b>3. Past Future Perfect Tense</b>
	section
		h2  Past Future Perfect Tense
		h3	Deskripsi :
		p.
			<em><b>Past Future Perfect Tense</b></em> untuk membicarakan suatu aksi yang akan sedang berlangsung 
			(berupa prediksi/rencana) di masa depan pada saat berada dimasa lalu.
	section
		h2  Past Future Perfect Tense
		h3	Rumus :
		pre.
				S + would + have + V3 + O
	section
		h2  Past Future Perfect Tense
		h3	Contoh :
		ol
			ul I thought you would have slept by the time I arrived.	
		
	section
		h1 <b>4. Past Future Perfect Continuous Tense</b>
	section
		h2  Past Future Perfect Continuous Tense
		h3	Deskripsi :
		p.
			<em><b>Past Future Perfect Continuous Tense</b></em> mirip dengan future perfect continuous tense,
			namun realisasi aksi yang dilakukan dapat diketahui sekarang karena aksinya terjadi di masa lampau.
			dan <em><b>Past Future Perfect Continuous Tense</em></b> jarang digunakan.

	section
		h2  Past Future Perfect Continuous Tense
		h3	Rumus :
		pre.
				S + would + have + been + V(ing) + O
	section
		h2  Past Future Perfect Continuous Tense
		h3	Contoh :
		ol
			ul He would have been working as a civil engineer in Jakarta by the end of this week last month.
					
include presentation-footer
include main-footer
