- var pageTitle = 'Concordance'

include presentation-header

include menu

article#presentation


	section
		h1 <b>Concordance</b>
	section
		h2.bullet <b>Concordance</b> adalah Penyesuaian antara tiap unsur kata dalam suatu kalimat.
		
		
	section
		h2 <b>Either & Neither</b>
		pre.
				- Neither/Either + S(sl)/S(pl) + nor/or + S(sl) + V(sl) + O/C
				- Neither/Either + S(sl)/S(pl) + nor/or + S(pl) + V(pl) + O/C
	section
		h2 <b>Either & Neither</b>
		h3	Contoh :
		ol
			li Neither the boy nor <b>his friend wants</b> to come.
			li Neither the boy nor <b>his friends want</b> to come.
			li Either the boy or <b>his friend wants</b> to come.
			li Either the boy or <b>his friends want</b> to come.
	section
		h2 <b>a number of & the number of</b>
		pre.
				- a number of + S(pl) + V(pl) + O/C
				- the number of + S(pl) + V(sl) + O/C
	section
		h2 <b>a number of & the number of</b>
		h3	Contoh :
		ol
			li a number of workers look tired.
			li the number of workers looks tired.
	
	section
		h2 Berikut contoh-contoh yang harus menggunakan singular verb
		ol
			li anybody , anyone , anything
			li somebody , someone , something
			li nobody , no-one , nothing
			li everybody , everyone , everything
			li each
			li Groups of people or animals( team, family, organization,herd of cattle,flock of sheep,etc)
			li kata benda yang selalu jamak(scissors, jeans, pliers,etc)
	section
		h3	Contoh :
		ol
			li everyone has a ticket.
			li no-one wants to join the party.
			li a herd of cattle is breaking away
			li the scissors are on the table(<em>*a pair of scissors is on the table</em>)			
include presentation-footer
include main-footer
