- var pageTitle = 'Conditional Sentence'

include presentation-header

include menu

article#presentation


	section
		h1 <b>Conditional Sentence</b>
	section
		h2.bullet <b>Conditional Sentence</b> adalah kalimat pengandaian. Terdapat 3 jenis Conditional Sentence :
		hr
		ol
			li Future Conditional (Type 1)
			li Present Conditional (Type 2)
			li Past Conditional (Type 3)
	section
		h1 <b>1. Future Conditional (Type 1)</b>
	section
		h2  Future Conditional (Type 1)
		h3	Deskripsi :
		p.
			<em><b>Future Conditional (Type 1)</b></em> yaitu bentuk pengandaian masa yang akan datang.
	section
		h2  Future Conditional (Type 1)
		h3	Rumus :
		pre.
				If + S + V1(s/es) + O/C , S + will + V1
				If (Simple Present Tense) , (Present Future Tense)
	section
		h2  Future Conditional (Type 1)
		h3	Contoh :
		ol
			ul If he studies hard, he will pass the test

	section
		h1 <b>2. Present Conditional (Type 2)</b>
	section
		h2  Present Conditional (Type 2)
		h3	Deskripsi :
		p.
			<em><b>Present Conditional (Type 2)</b></em> yaitu pengandaian saat ini
	section
		h2  Present Conditional (Type 2)
		h3	Rumus :
		pre.
				If + S + V2 + O/C , S + would + V1
				If (Simple Past Tense) , (Past Future Tense)
	section
		h2  Present Conditional (Type 2)
		h3	Contoh :
		ol
			ul If he studied hard,he would pass the test

	section
		h1 <b>3. Past Conditional (Type 3)</b>
	section
		h2  Past Conditional (Type 3)
		h3	Deskripsi :
		p.
			<em><b>Past Conditional (Type 3)</b></em> yaitu pengandaian masa lalu/lampau.
	section
		h2  Past Conditional (Type 3)
		h3	Rumus :
		pre.
				If + S + had + V3 + O/C , S + would + have + V3
				If (Past Perfect Tense) , (Past Future Perfect Tense)
	section
		h2  Past Conditional (Type 3)
		h3	Contoh :
		ol
			ul If he had studied hard,he would have passed the test
				
				
include presentation-footer
include main-footer
