- var pageTitle = 'Degree of Comparison'

include presentation-header

include menu

article#presentation
	section
		h2 List of Topic.
		ul Degree of Comparison
		ul Many and Much

	section
		h1 Degree of Comparison

	section
		h2.bullet Degree of Comparison
		ul
			li Digunakan untuk menyatakan perbandingan. Terdapat 3 jenis Degree of Comparison :
		ol
			li Positive Degree
			li Comparative Degree
			li Superlative Degree

	section
		h2.bullet Positive Degree
		ul
			li Digunakan untuk menyatakan perbandingan yang setara, atau tidak berbeda.
			li Biasanya menggunakan as (adjective/adverb) as.
		ul
			li Contoh :
			li Fighting Emerald Weapon is <b>as hard as</b> Ruby weapon.
			li Bertarung dengan Emerald Weapon sama sulitnya bertarung dengan Ruby Weapon.
	section
		h2.bullet Comparative Degree
		ul
			li Digunakan untuk membandingkan dua hal.
			li biasanya menggunakan "more (adjective/adverb) than" ataupun "(adjective/adverb) + er than".
		ul
			li Contoh :
			li He is <b>taller than</b> mike.
			li dia lebih tinggi daripada mike
			li Luke is <b>more patient</b> than Cate.
			li Luke lebih sabar daripada Cate.
	section
		h2.bullet Superlative Degree
		ul
			li Digunakan untuk membandingkan 3 hal atau lebih.
			li biasanya menggunakan "the most (adjective/adverb) " ataupun "the + (adjective/adverb) + est ".
		ul
			li Contoh :
			li Omega Weapon is <b>the strongest</b> being in Final Fantasy VIII.
			li Omega Weapon adalah makhluk terkuat di Final Fantasy VIII.
			li Fighting Ozma is <b>the most difficult</b> battle in Final Fantasy IX.
			li Bertarung dengan Ozma adalah pertarungan yang paling sulit di Final Fantasy IX.
	
	section
		h1 Many and Much

	section
		h2.bullet Many & Much
		ul
			li Many & Much mempunyai arti yang sama yaitu banyak.
			li Tetapi penggunaannya dibedakan.
			li Untuk benda yang tidak bisa dihitung maka digunakan much.
			li Sedangkan, untuk benda bisa dihitung digunakan many.

	section
		h2.bullet Many & Much
		ul
			li pada umumnya penggunaan many dan much digunakan untuk bertanya ataupun kalimat negatif.
			li untuk kalimat positif biasanya ditambahkan klausa <em>so, as, too</em>.
			li biasanya pada kalimat positif digunakan <em>a lot of/ lot of</em> sebagai pengganti many dan much.
	
	section
		h2.bullet Many & Much
		ul
			li Contoh penggunaan Many & Much.
			ol
				li there aren't much money in the drawer.
				li tidak ada banyak uang di laci.
				li I don't put too much sugar in this cake.
				li saya tidak menaruh banyak gula di kue ini.
				li He has so many book in his house.
				li dia punya banyak buku di rumahnya.
include presentation-footer
include main-footer