- var pageTitle = 'Elliptical Construction'

include presentation-header

include menu

article#presentation

	section
		h1 Elliptical Construction
	section
		h2 Elliptical Construction
		ul
			li Penghilangan kata yang sudah pernah digunakan sebelumnya.
			li Untuk menghindari penggunaan kata yang tidak dibutuhkan.
	section
		h2 Elliptical Construcion
		ul
			li Terdiri atas :
		ul
			li Positive Elliptical Construction
			li Negative Elliptical Construction
			li Contrary Elliptical Construction
	section
		h2 Positive Elliptical Construcion
		h3 Menggunakan <em>So</em> dan <em>too</em> untuk menggabungkan 2 kalimat.
		h3 Rumus :
		pre kalimat1 + and + so + auxilary + subject(kalimat2).
		pre kalimat1 + and + S(Kalimat2) + auxilary + too.
	section
		h2 Positive Elliptical Construction
		h3 Contoh:
		ol
			li The dog bite him. The cat bite him.
			li The dog bite him and so did the cat. / The dog bite him and the cat did too.
			li Ravens can fly. pigeons can fly.
			li Ravens can fly and so can pigeons. / Ravens can fly and pigeons can too.
	section
		h2 Negative Elliptical Construcion
		h3 Menggunakan <em>Neither</em> dan <em>not either</em> untuk menggabungkan 2 kalimat.
		h3 Rumus :
		pre kalimat1 + and + neither + auxilary + subject(kalimat2).
		pre kalimat1 + and + S(Kalimat2) + auxilary + not either.
	section
		h2 Negative Elliptical Construction
		h3 Contoh:
		ol
			li He never taste soda. She never taste soda.
			li He never taste soda and neither does she. / He never taste soda and she does not either.
			li I cannot speak Japanese. They cannot speak Japanese.
			li I cannot speak Japanese and neither can they. / I cannot speak Japanese and they can not either.
	section
		h2 Contrary Elliptical Construcion
		h3 Menggunakan <em>But</em> dan <em>While</em> untuk menggabungkan 2 kalimat.
		h3 Rumus :
		pre Subject(kalimat1) + auxilary not/verb + but/while + subject(kalimat2) + auxilary.
		pre Subject(kalimat1) + auxilary /verb + but/while + subject(kalimat2) + auxilary not.
	section
		h2 Contrary Elliptical Construction
		h3 Contoh:
		ol
			li I passed the JLPT. She did not pass the JLPT.(Japanese Language Poviciency Test)
			li I passed the JLPT but/while she did not.
			li She got the scholarship. I didn't get the scholarship.
			li She got the scholarship but/while I didn't.
include presentation-footer
include main-footer
