- var pageTitle = 'Pengenalan Kontrol Versi'

include presentation-header

include menu

article#presentation
	section
		h1 Gerund Vs To + Infinitive
		

	section
		h2 Pengertian Gerund
		blockquote.
			Gerund (verb+ing) dan infinitive (to+verb) sama-sama merupakan verbal yang dapat berfungsi sebagai noun. Yang menjadi permasalahan adalah kapan harus menggunakan gerund dan kapan harus menggunakan infinitive.

		
	section
		h2 Penggunaan Gerund dan Infinitive
		hr
		ul
			li Subject of Sentence
 			li Subject of Complement
			li Direct Object
			li Object of Preposition
	
	section
		h2 Subject of Sentence
		p.
			<em>Keduanya dapat digunakan sebagai subject of sentence.
		hr
		ul
			li Walking on the beach may be fun
			li To walk on the beach may be fun	
	section
		h2 Subject of Complement
		p.
			<em>Keduanya dapat digunakan sebagai subject of Complenent , namun penggunaan gerund lebih sering ditemukan.
		hr
		ul
			li My goal is winning the price
			li My goal is to win the price	
	section
		h2 Direct Object
		p.
			<em>Keduanya dapat digunakan sebagai direct object , namun ada beberapa kata yang harus menggunakan gerund saja atau infinitive saja.
		hr
		ul
			li The man like climbing the mountain
			li The man like to climb the mountain	
	

include presentation-footer
include main-footer