nav(class="navbar navbar-default", role="navigation")
	div(class="container")
		div(class="navbar-header")
			button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="presentation-chooser")
				span(class="sr-only")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand") Grammatical

		div(class="collapse navbar-collapse", id="presentation-chooser")
			ul(class="nav navbar-nav")
				li(class="dropdown")
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Pilih Presentasi <b class="caret"></b>
					ul(class="dropdown-menu")
						li <a href="1-Introduction.html">Pendahuluan</a>
						li <a href="2-Tenses (Part I).html">Bagian ke-1</a>
						li <a href="3-Tenses (Part II).html">Bagian ke-2</a>
						li <a href="Tenses Part III.html">Bagian ke-3</a>
						li <a href="5- Tenses(Part IV).html">Bagian ke-4</a>
						li <a href="Concordance.html">Concordance</a>
						li <a href="Conditional Sentence.html">Conditional Sentence</a>
						li <a href="Degree of Comparison.html">Degree of Comparison</a>
						li <a href="Elliptical Construction.html">Elliptical Construction</a>
						li <a href="Modal and Auxiliary.html">Modal and Auxiliary</a>
						li <a href="preposition.html">Preposition</a>
						li <a href="Question Tag.html">Question Tag</a>
						li <a href="Subjunctive.html">Subjunctive</a>
						li <a href="Synthesis of Sentences.html">Synthesis of Sentences</a>
						li <a href="Passive Voice Part I.html">Passive Voice I</a>
						li <a href="Passive Voice Part III.html">Passive Voice III</a>
						li <a href="Passive Voice Part IV.html">Passive Voice IV</a>