- var pageTitle = 'Tenses Part III'

include presentation-header

include menu

article#presentation

	section
		h2 Modal & Auxiliary
		h3 Pengertian, Rumus dan Contoh Kalimat 

	section
		h2 Modal & Auxiliary
		h3 Pengertian
		h4 Modal Auxiliary verb adalah kata yang ditempatkan sebelum main verb (kata kerja utama) untuk memodifikasi makna dari kata kerja utama tersebut. 

	section
		h2 Modal & Auxiliary
		h3 Rumus
		ul Subject + can/could/may/might/shall/will + Object + Complement

	section
		h2 Modal & Auxiliary
		h3 Keterangan
		h4 Fungsinya untuk mengekspresikan willingness (kemauan) atau ability (kemampuan), necessity (kebutuhan), dan possibility (kemungkinan).Kata kerja bantu ini antara lain: can, could, may, might, will, would, shall, should, must, dan ought to (phrasal modal verb).

	section
		h2 Modal & Auxiliary
		h3 Contoh Kalimat 
		ul You can buy anything with your money but you can not buy love.
		ul (Kamu dapat membeli apapun dengan uangmu tapi kamu tidak dapat membeli cinta)

include presentation-footer
include main-footer