- var pageTitle = 'Passive Voice Part II'

include presentation-header

include menu

article#presentation

	section
		h1 <b>Passive Voice part II </b>

	section
		h2 <b>Passive Voice Part II</b> adalah suatu grammatical contruction dimana subject kalimat tidak melakukan suatu action melainkan menerima suatu action. dalam passive voice part II ada 2 jenis yaitu :
		hr
		ol
			li Past Tense
			li Past Continuous Tense

	section
		h1 <b>1. Past Tense</b>

	section
		h2 Past Tense
		h3 Rumus :
		pre.
			S (direct Object) + was/were + past participle +/- by ... (agent)
	section
		h2 Past Tense
		h3 Contoh :
		ol
			li The letter was left when he was away from his desk.
			li The hotel was stayed by her yesterday.
	section
		h1 <b>2. Past Continuous Tense</b>

	section
		h2 Past Continuous Tense
		h3 Rumus :
		pre.
			S (direct Object) + was/were + being + past participle +/- by ... (agent)
	section
		h2 Past Continuous Tense
		h3 Contoh :
		ol
			li Rice were being cooked when I came.
			li The kitchen floor was being cleaned while the children were playing in the living room.

include presentation-footer
include main-footer