- var pageTitle = 'Passive Voice Part III'

include presentation-header

include menu

article#presentation


	section
		h1 <b>Passive Voice part III </b>

include presentation-footer
include main-footer
