- var pageTitle = 'Passive Voice Part I'

include presentation-header

include menu

article#presentation


	section
		h1 <b>Passive Voice Part I</b>
	section
		h2.bullet <b>Passive Voice</b> adalah suatu grammatical construction,dimana subject kalimat tidak melakukan suatu action melainkan menerima suatu action. dalam passive voice part I ada 2 jenis yaitu :
		hr
		ol
			li Simple Present Tense
			li Present Continuous Tense
	section
		h1 <b>1. Simple Present Tense</b>
	
	section
		h2  Simple Present Tense
		h3	Rumus :
		pre.
				is/am/are + V3
	section
		h2  Simple Present Tense
		h3	Contoh :
		ol
			ul the car is driven by him
	section
		h1 <b>2. Present Continuous Tense</b>
	
	section
		h2  Present Continuous Tense
		h3	Rumus :
		pre.
				is/am/are + being + V3
	section
		h2  Present Continuous Tense
		h3	Contoh :
		ol
			ul The room is being cleaned by the maid.
				
include presentation-footer
include main-footer
