- var pageTitle = 'Passive Voice Part IV'

include presentation-header

include menu

article#presentation


	section
		h1 <b>Passive Voice Part IV</b>
	section
		h2.bullet <b>Passive Voice</b> adalah suatu grammatical construction,dimana subject kalimat tidak melakukan suatu action melainkan menerima suatu action. dalam passive voice part IV ada 2 jenis yaitu :
		hr
		ol
			li Present Future Tense
			li Present Future Perfect Tense
	section
		h1 <b>1. Present Future Tense</b>
	
	section
		h2  Present Future Tense
		h3	Rumus :
		pre.
				will + be + V3
	section
		h2  Present Future Tense
		h3	Contoh :
		ol
			The room will be cleaned by the maid.
	section
		h1 <b>2. Present Future Perfect Tense</b>
	
	section
		h2  Present Future Perfect Tense
		h3	Rumus :
		pre.
				will + have + been + V3
	section
		h2  Present Future Perfect Tense
		h3	Contoh :
		ol
			The room will have been cleaned by the maid.
				
include presentation-footer
include main-footer
