- var pageTitle = 'Passive Voice Part III'

include presentation-header

include menu

article#presentation


	section
		h1 <b>Passive Voice part III </b>

	section
		h1 <b>Passive Voice Part III</b> adalah suatu grammatical contruction dimana subject kalimat tidak melakukan suatu action melainkan menerima suatu action. dalam passive voice part III ada 2 jenis yaitu :
		hr
		ol
			li Present Perfect Tense
			li Past Perfect Tense

	section
		h1 <b>1. Present Perfect Tense</b>

	section
		h2 Present Perfect Tense
		h3 Rumus :
		pre.
			S (direct Object) + have/has + been + past participle +/- by ... (agent)

	section
		h2 Present Perfect Tense
		h3 Contoh :
		ol
			Great slides has been prepared for the presentation.
		ol (Slide yang baik telah dipersiapkan untuk presentasi terbaik).

	section
		h1 <b>2. Past Perfect tense</b>
		h2 Lanjutan...

	section
		h2 Present future perfect tense
		h3 Rumus :
		pre.
			will + have + been + V3

	section
		h2 Present Future Perfect Tense
		h3 Contoh :
		ol
			The room will have been cleaned by the maid.

include presentation-footer
include main-footer
