- var pageTitle = 'Pengenalan Kontrol Versi'

include presentation-header

include menu

article#presentation
	section
		h1 Preposition
		
	section
		h2 Apa itu preposition ?
		blockquote.
			Preposition adalah kata yang bersama objeknya (disebut object of preposition) menerangkan verb, noun, atau adjective. Object of preposition dapat berupa noun, pronoun, atau gerund. Kata ini merupakan satu dari delapan part of speech bahasa Inggris.		
		
	section
		h2 Macam dan contoh preposition
		hr
		ul
			li preposition of time -> untuk memberi petunjuk waktu , cth : at night , after lunch
			li preposition of place and position -> untuk memberi petunjuk tempat atau posisi , cth : above the bed , under the table
			li preposition of movement -> untuk memberi petunjuk arah pergerakan , cth : toward the jungle , go up stairs

	section
		h1 Preposition of time
		
	section
		h2 Pengertian Preposition of time
		p. 
			<em><b>Preposition of time</b> adalah preposition yang digunakan untuk menunjukkan waktu. Waktu itu ditampilkan dalam gabungan preposition dengan kata benda yang mengikutinya (object of preposition) membentuk prepositional phrase.

	section
		h2.Contoh Preposition of time
		hr
		ul
			li after  ->	sesudah , ex :after lunch 
			li by     ->	menjelang (pada/sebelum waktu) , ex : by the end of this month
			li during -> 	selama , ex : during the trip
			li since  ->	sejak , ex : since wednesday

	section
		h1 Preposition of place and position
		
	section
		h2 Pengertian Preposition of place and position
		p. 
			<em><b>Preposition of place and position</b> adalah preposition yang digunakan untuk menunjukkan tempat atau posisi. Tempat atau posisi itu ditampilkan dalam gabungan preposition dengan noun yang mengikutinya (object of preposition) membentuk prepositional phrase.

	section
		h2.Contoh Preposition of place and position
		hr
		ul
			li aboard -> diatas , ex : aboard the roof.
			li above -> diatas (tidak menyentuh) , ex : above the floor.
			li against -> menempel pada , ex : against the wall.
			li along -> disepanjang , ex : along the road.

	section
		h1 Preposition of movement
		
	section
		h2 Pengertian Preposition of movement
		p. 
			<em><b>Preposition of movement</b> adalah preposition (kata depan) yang digunakan untuk menunjukkan gerakan. Gerakan itu ditampilkan dalam gabungan preposition dengan noun yang mengikutinya (bertindak sebagai object of preposition) membentuk prepositional phrase. 

	section
		h2.Contoh Preposition of movement
		hr
		ul
			li around / about ->	mengelilingi / sekitar , ex : around/about the world
			li away from ->	menjauh dari , ex :away from me
			li away to ->	melaju ke / menuju ke , ex : away to fitness center
			li by/past ->	melewati , ex : past the train station
			
	

include presentation-footer
include main-footer