- var pageTitle = 'Subjunctive'

include presentation-header

include menu

article#presentation


	section
		h1 <b>Subjunctive</b>
	section
		h2.bullet <b>Subjunctive</b> adalah bentuk kalimat yang berfungsi untuk menyatakan tentang pengharapan pada masa yang akan datang atau pengharapan yang tidak terwujud pada masa lampau dan masa sekarang.
		hr
		ol
			li Future Subjunctive 
			li Present Subjunctive
			li Past Subjunctive 
	section
		h1 <b>1. Future Subjunctive</b>
	section
		h2  Future Subjunctive
		h3	Deskripsi :
		p.
			<em><b>Future Subjunctive</b></em> yaitu bentuk pengharapan pada masa yang akan datang.
	section
		h2  Future Subjunctive
		h3	Rumus :
		pre.
				S(1) + wish + S(2) + Would + V1 + O/C
	section
		h2  Future Subjunctive
		h3	Contoh :
		ol
			ul I wish he would be here tomorrow.

	section
		h1 <b>2. Present Subjunctive</b>
	section
		h2  Present Subjunctive
		h3	Deskripsi :
		p.
			<em><b>Present Subjunctive</b></em> yaitu bentuk pengharapan yang tidak terwujud pada masa sekarang.
	section
		h2  Present Subjunctive
		h3	Rumus :
		pre.
				S(1) + wish + S(2) + V2 + O/C
	section
		h2  Present Subjunctive
		h3	Contoh :
		ol
			ul He wishes they won the game.
	section
		h1 <b>3. Past Subjunctive</b>
	section
		h2  Past Subjunctive
		h3	Deskripsi :
		p.
			<em><b>Past Subjunctive</b></em> yaitu bentuk pengharapan yang tidak terwujud pada masa lampau.
	section
		h2  Past Subjunctive
		h3	Rumus :
		pre.
				S(1) + wish + S(2) + had + V3 + O/C
	section
		h2  Past Subjunctive
		h3	Contoh :
		ol
			ul He wished he had been the manager.

include presentation-footer
include main-footer
