- var pageTitle = 'Synthesis of Sentences'

include presentation-header

include menu

article#presentation

	section
		h1 Synthesis of Sentences

	section
		h2 Synthesis of Sentences
		ul
			li Synthesis adalah penggabungan dari beberapa kalimat sederhana menjadi satu kalimat baru.
			li Kalimat yang baru mungkin saja berupa kalimat sederhana, kalimat gabungan ataupun kalimat yang komplek.

	section
		h2 Synthesis of Sentences
		ul
			li Ada beberapa cara untuk menggabungkan dua atau lebih kalimat menjadi satu kalimat.
			ol
				li Menggunakan participle
				li Menggunakan noun atau phrase in apposition
				li Menggunakan Preposition dengan noun atau gerund
				li Menggunakan Absolute Construction
				li Menggunakan Infinitive
				li Menggunakan adverb ataupun Adverbial Phrase
	section
		h2 Mengunakan Participle
		ul
			li Contoh :
			ol
				li He was tired of waiting. He went there alone.
				li Tired of waiting, he went there alone.
				li I climb up to rooftop. I fell down.
				li Climbing up to rooftop, I fell down.
	section
		h2 Menggunakan Noun atau Phrase in apposition
		ul
			li Contoh :
			ol
				li This is his brother. Her name is Naisho.
				li This is his brother Naisho.
				li My phone was cheap. It is still working till now.
				li My phone, still working till now, was cheap.
	section
		h2 Menggunakan Preposition dengan noun atau gerund
		ul
			li Contoh :
			ol
				li He has failed many times. He still hopes to win.
				li Having failed for many times, he still hopes to win.
				li Her child was ill. She heard the news. She cried.
				li On hearing the news of her child's illness she cried.
	section
		h2 Menggunakan Absolute Constructive
		ul
			li Contoh :
			ol
				li This piano was expensive. I could not buy it.
				li This piano being expensive, I could not buy it.
				li The referee was arrived, the game began.
				li The referee having arrived, the game began.
	section
		h2 Menggunakan Infinitive
		ul
			li Contoh :
			ol
				li He must go to Jakarta next week. He is preparing the luggage.
				li He is preparing the luggage to go to Jakarta next week.
				li I have made some mistake. I can not correct it.
				li I have made some mistake to correct.
	section
		h2 Menggunakan adverb ataupun Adverbial Phrase
		ul
			li Contoh :
			ol
				li He deserved to succeed. He failed.
				li He failed undeservedly.
				li The sun rose. He still can not find her.
				li He still can not find her by sunrise.
include presentation-footer
include main-footer