- var pageTitle = 'Tenses Part III'

include presentation-header

include menu

article#presentation

	section
		h2 Tenses Part III
		h3 Pembelajaran yaitu :
		h4 1. Simpel Future Tense
		h4 2. Future Continuous Tense
		h4 3. Future Perfect Tense
		h4 4. Future Perfect Continuous Tense

	section
		h2 Tenses Part III
		h3 1. Simpel Future Tense

	section
		h2 Tenses Part III
		h3 1. Simpel Future Tense
		h4 Rumus :
		ul	S + will + have + past participle/V-3
		h4 Penggunaan:
		ul	Simple future tense untuk menyatakan bahwa suatu aksi terjadi dimasa depan, secara spontan atau terencana.

	section
		h2 Tenses Part III
		h3 1. Simpel Future Tense
		h4 Contoh :
		ul	You will win the game.
		ul	(Kamu akan memenangkan permainan tersebut.)
		ul	I am going to meet him tomorrow.
		ul	(Saya akan menemuinya besok.)

	section
		h2 Tenses Part III
		h3 2. Future Continuous Tense

	section
		h2 Tenses Part III
		h3 2. Future Continuous Tense
		h4 Rumus :
		ul	S + will + be + present participle/V-ing	
		h4 Penggunaan:
		ul	Future continuous tense untuk mengungkapkan aksi yang akan sedang terjadi pada waktu tertentu di masa depan.

	section
		h2 Tenses Part III
		h3 2. Future Continuous Tense
		h4 Contoh :
		ul	He will be sleeping at 10 p.m.
		ul	(Dia akan sedang tidur pada jam 10 malam.)

	section
		h2 Tenses Part III
		h3 3. Past Perfect Tense

	section
		h2 Tenses Part III
		h3 3. Past Perfect Tense
		h4 Rumus :
		ul S + had + past participle/V-3
		h4 Penggunaan:
		ul Past perfect tense untuk menyatakan bahwa suatu aksi telah selesai pada suatu titik di masa lalu sebelum aksi lainnya terjadi.

	section 
		h2 Tenses Part III
		h3 3. Past Perfect Tense
		h4 Contoh :
		ul When he came last night, the cake had run out.
		ul (Ketika dia datang semalam, kue sudah habis.)
	
	section
		h2 Tenses Part III
		h3 4. Past Perfect Continuous Tense

	section
		h2 Tenses Part III
		h3 4. Past Perfect Continuous Tense
		h4 Rumus:
		ul S + had + been + present participle/V-ing
		h4 Penggunaan:
		ul Past perfect continuous tense digunakan untuk mengungkapkan suatu aksi (dengan durasi waktu tertentu) telah selesai pada suatu titik waktu tertentu dimasa lalu.

	section
		h2 Tenses Part III
		h3 4. Past Perfect Continuous Tense
		h4 Contoh:
		ul The labors had been demonstrating for an hour when the manager came.
		ul (Pekerja telah berdemonstrasi selama satu jam ketika manager datang.)

include presentation-footer
include main-footer